<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="card-deck">
            <div ng-repeat="card in imgsCard" class="card border-success mb-3" style="max-width: 20rem;">
                <img class="card-img" ng-src="/img/code/{{ card.img }}" alt="{{ card.label }}">
                <div class="card-body text-success">

                    <br>
                    <button type="button" class="btn btn-outline-success" type="Submit" onclick="location='#!C Sharp'">Ver más...
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>