<br>
<br>
<br>
<br>


<div class="row">

    <div class="col-lg-4">
        <center>
            <img src="/img/code/java.png" alt="Generic-placeholder image" width="140" height="140">
            <h2>Java</h2>
            <p>
                <a class="btn btn-outline-success" role="button" href="#!Java"> Detalles </a>
            </p>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <img src="/img/code/c-sharp.png" alt="Generic-placeholder image" width="140" height="140">
            <h2>C-sharp</h2>
            <p>
                <a class="btn btn-outline-success" role="button" href="#!C Sharp"> Detalles </a>
            </p>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <img src="/img/code/python.png" alt="Generic-placeholder image" width="140" height="140">
            <h2>Python</h2>
            <p>
                <a class="btn btn-outline-success" role="button" href="#!Python"> Detalles </a>
            </p>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <img src="/img/code/ruby.png" alt="Generic-placeholder image" width="140" height="140">
            <h2>Ruby</h2>
            <p>
                <a class="btn btn-outline-success" role="button" href="#!Ruby"> Detalles </a>
            </p>
        </center>
    </div>

</div>