<div class="wrapper">
    <br>
    <h3 class="form-signin-heading">Iniciar Sesión</h3>
    <hr class="colorgraph">
    <br>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

    <form name="form" class="form" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <input type="text" class="form-control" name="name" ng-model="data.name" placeholder="Enter Name" required>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="data.password" required>
        </div>
        <button type="submit" ng-disabled="form.$invalid || data.dataLoading" class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>
    </form>
</div>