<form>
    <div class="jumbotron boxlogin" >
        <center>
            <img id="profile-img" class="profile-img-card" src="usuario.png"/>

        </center>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>

        </form>
        <br>

        <form class="form-signin">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </form>
        <br>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Recordar
            </label>
        </div>
        <left>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick = "location='#!'">Submit</button>
        </left>
        <right>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick = "location='#!register'">Registrar</button>
        </right>
        <p></p>
</form>