<div class="wrapper">
    <br>
    <h3 class="form-signin-heading">Iniciar Sesión</h3>
    <hr class="colorgraph">
    <br>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="login()">


        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" ng-model="loginForm.email" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="loginForm.password" required>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Check me out
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="disabled">Login</button>
    </form>
</div>