<div class="jumbotron text-center">
  <div>
    <h1>CONEXIÓN PYTHON</h1>
    <img src="/img/logoPython.png" align="left">
    <h3 align="justify">1.-Te gustaría hacer una conexión en Python? esto debes saber
      <br>
      <h3>
        <h3 align="justify">2.-Python es un lenguaje de programación fácil de aprender y potente.
          <br>Tiene eficaces estructuras de datos de alto nivel y una solución de
          <br>programación orientada a objetos simple pero eficaz. La elegante sintaxis
          <br>de Python, su gestión de tipos dinámica y su naturaleza interpretada
          <br> hacen de él el lenguaje ideal para guiones (scripts) y desarrollo rápido de
          <br>aplicaciones, en muchas áreas y en la mayoría de las plataformas.
          <br>
        </h3>
        <br>
        <h2 align="justify">¿Qué es API REST?-
          <br>
          <h3 aling="justify">1.-REST (REpresentational State Transfer) es un estilo arquitectónico y un enfoque
            <br> de las comunicaciones que a menudo se utiliza en el desarrollo de servicios web.
            <br> El uso de REST a menudo se prefiere sobre el estilo SOAP más pesado
            <br> (Protocolo simple de acceso a objetos) porque REST no aprovecha todo el
            <br> ancho de banda, lo que lo hace más adecuado para su uso en Internet.
            <br>El enfoque SOAP requiere escribir o usar un programa de servidor proporcionado
            <br>(para servir datos) y un programa de cliente (para solicitar datos).</h3>

  </div>
  <br>
  <div class="jumbotron text-left">
    <br>
    <div>
      <h2>CÓDIGO</H2>
      <style>
        textarea {
          width: 50%;
          height: 225px;
          padding: 14px 22px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: #f8f8f8;
          font-size: 16px;
          resize: none;
        }
      </style>

      <center>
        <form class="jumbotron text-left">
          <textarea><h3>
 <select name=ideas size="2">
  query = 'id'
  value = 'l00000181'
  url = "https://aplicaciones.espe.edu.ec:8443/authentication/api/query/" + query + "=" + value + "&auth=ba82e1071cd1ea9669a62f24213ba4a4.cf3df0e97b7a4cc68aeaab8d6bbb9691"
  print url
  r = requests.get (url)
  json_object = r.json ()
  if r.status_code == 200:
  print r.text
</select>
</h3></textarea>
        </form>
      </center>
      </style>
    </div>


    <div>
      
        <a class="btn btn-outline-success" type="button" href="https://mega.nz/#!IKRkgDab" download "apipython.2017">
          <h4>Descargar Archivo</h4>
        </a>
    </div>
    <br>
    <p>CLAVE ; !-wiH1z9NihubybkiblVaKqCXqOYXWV_TWaO5t1q_QLA</p>

  </div>