<form >
    <script src="js/jquery-3.2.1.slim.min"></script>
    <script src="js/bootstrap.min.js"></script>

    <center>
        <p></p>
        <p></p>
        <p></p>
    </center>
    <div class="jumbotron boxlogin" >
        <center>
            <div class="alert alert-success" role="alert">
                <strong>Regístrate con tu dirección de email</strong>
            </div>
        </center>
        <div class="panel panel-default">
            <div class="panel-body">
                <form ng-submit="addEmployee()">
                    <div class="form-group">
                        <form class="form-signin">
                            <span id="text" class="reauth-email"></span>
                            <input type="text" id="inputText" class="form-control" placeholder="Usuario" ng-model="registro.inputText" required autofocus>
                        </form>
                        <form class="form-signin">
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email" ng-model="registro.inputEmail" required autofocus>
                        </form>
                        <form class="form-signin">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </form>
                        <form class="form-signin">
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="password" id="inputPassword" class="form-control" placeholder=" Confirmar Password" ng-model="registro.inputPassword"
                                   required autofocus>
                        </form>
                        <div class="alert alert-warning" role="alert">
                            <input type="checkbox" ng-model="personalDetail.selected" />
                            Al hacer click en Registrarse, aceptas los términos y condiciones.
                        </div>

                        <center>

                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick = "location='#!'">Registrar</button>
                </form>